* {
  margin: 0;
  padding: 0;
}
#crypto-container {
  width: 100%;
  font-size: 20px;
}
.crypto-table {
  border-collapse: collapse;
  width: 100%;
}
.crypto-table tr:nth-of-type(3),
tr:nth-of-type(5),
tr:nth-of-type(7) {
  background-color: rgba(254, 240, 240, 1);
}
.crypto-table {
  display: inline-block;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #667c99;
  background-color: #fef8f8;
}
#crypto-table td {
  padding-bottom: 3%;
  padding-top: 3%;
  color: #667c99;
  padding-left: 10%;
  width: 33%;
}
.crypto-table td {
  text-align: left;
  width: 30%;
  padding: 4%;
}
.crypto-table tr {
  border-bottom: 1px solid #d5d5d5;
}
/* .crypto-table tr:first-of-type {
  background-color: aqua;
} */
.crypto-table .red {
  color: red;
}
.crypto-table .green {
  color: green;
}

.name-img {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 25px;
}

.name-img img {
  width: 60%;
  margin-right: 6%;
}

.out-map {
  width: 70%;
  background-color: rgba(254, 240, 240, 1);
}
.out-map td {
  font-size: 20px;
}
.exchageTable td {
  padding: 3.7%;
}
.class-thead td {
  border-bottom: 2px solid #d5d5d5;
}
.exchageTable td.strong {
  font-weight: 700;
  background-color: rgba(254, 240, 240, 1);
}

@media only screen and (max-width: 1300px) {
  #crypto-container {
    font-size: 15px;
  }
  .exchageTable td {
    padding: 4% 3%;
  }
}
@media only screen and (max-width: 1200px) {
  .exchageTable td {
    width: 15%;
  }
}
@media only screen and (max-width: 1000px) {
  #crypto-container {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  #crypto-container {
    font-size: 15px;
  }
  .out-map td {
    font-size: 16px;
  }
  .name-img {
    font-size: 20px;
  }
  .exchageTable td {
    width: 6%;
  }
}
@media only screen and (max-width: 450px) {
  #crypto-container {
    font-size: 12px;
  }
  .out-map td {
    font-size: 14px;
  }
  .name-img {
    font-size: 15px;
  }
  .exchageTable td {
    width: 1%;

    font-size: 15px;
  }
}
@media only screen and (min-width: 375px) {
  #crypto-container {
    font-size: 10px;
  }
  .out-map td {
    font-size: 12px;
  }
  .name-img {
    font-size: 13px;
  }
  .exchageTable td {
    width: 0.7%;
    font-size: 15px;
  }
}

/* CryptoGraphStyle____________________ */

* {
  box-sizing: border-box;
}
div#TickerInput {
  color: #444444;
  height: 100vh;
  margin-left: 20%;
}
#autocomplete-wrapper input {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 12px 15px;
  font-size: 14px;
  width: 100%;
  background: #fef8f8;
}

#autocomplete-wrapper input:focus {
  border-color: #0f67ff;
  box-shadow: none;
  outline: none;
}

#autocomplete-wrapper #dropdown {
  width: 100%;
  padding: 0;
  text-align: left;
  max-height: 280px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #0f67ff;
  border-top: none;
}

#autocomplete-wrapper #item {
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 15px;
}

#autocomplete-wrapper #item#selected-item {
  background-color: #0069ff;
  color: #fafbfc;
}

#autocomplete-wrapper #item:hover {
  background-color: #0069ff;
  color: #fafbfc;
}

h2#headline {
  margin: 30px 0 0 0;
  font-size: 2rem;
}
#stock-crypto p {
  width: 70%;
  margin-top: 4%;
  margin-bottom: 4%;
}
#stocks-header {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}
div#autocomplete-wrapper > div {
  width: 350px;
}

img#search-icon {
  display: inline-block;
  margin-left: 12px;
  width: 36px;
}
div#autocomplete-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
main#stocks-main {
  padding: 0 3%;
}
p#byline {
  color: #666666;
}

div#graph {
  text-align: center;
}

#stocks-displayed-firm {
  margin-bottom: 0;
}

#crypto-container {
  font-size: 1.1rem;
}
p#name {
  font-size: 1.2rem;
}

.exchageTable thead {
  width: 100%;
}
