.home-container{
  margin-left: 18%;
  padding: 20px 2% 2% 2%;
  color: #4C4C66;
}
#home-main{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 42vh;
  grid-row-gap: 40px; /* Row gap */
  grid-column-gap: 100px;  /* Column gap */
}
h2.home-headline{
  font-size: 2rem;
}
#home-main .box1, .box2, .box3, .box4{
  border: 1px solid #d5d5d5;
  padding: 3%;
  overflow: hidden;
}
#home-main > div.box1{
  overflow-y: scroll;
}
.home-headline, .byline{
  margin-bottom: 12px !important;
}

/* News homepage mods */
.home-container .header ul{
  display: none;
}
.home-container div.header{
  display: none;
}
.home-container .header ul{
  display: none;
}
.home-container .articles{
  border: none;
}
.home-container .divs{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.home-container .articles img {
  width: 100%;
}
.home-container .articles img:not(:first-child) {
  margin-top: 20px; 
}
.home-container .articles h1 {
  margin: 10px;
}
.home-container article.articles{
  margin-bottom: 20px;
}
.home-container .box2{
  overflow-y: scroll;
}

@media only screen and (max-width: 1700px) {
  #home-main{
      grid-column-gap: 40px;
   }
}


@media only screen and (max-width: 1200px) {
  #home-main{
    grid-template-columns: 1fr;  
  }
  .home-headline, .byline{
    text-align: center;
  }
  .home-container{
    margin-left: 0;
    padding: 20px 2% 2% 2%;
    color: #4C4C66;
  }
}


















































/* * {
  margin: 0;
  padding: 0;
}

#Home-main > div {
  width: 100%;
  height: 50vh;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Home-main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 1000px) {
  #Home-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
} */


