.divs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  margin-left: 20%;
  font-size: 15px;
  padding-top: 10%;
  font-family: Helvetica Neue;
}
.articles h1 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 4%;
  margin-top: 15%;
}
.articles img {
  width: 100%;
  height: 25vh;
}
.articles {
  border: 1px solid #667c99;

  text-align: center;
  width: 90%;
}
#content {
  padding: 5%;
  text-align: center;
}
button a {
  text-decoration: none;
  color: #667c99;
}
button {
  width: 30%;
  height: 3vh;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(255, 246, 240, 0.38) 0%,
    rgba(251, 232, 233, 0.31) 57.44%,
    rgba(252, 252, 255, 0.57) 100%
  );
}
button:hover {
  background: rgba(254, 240, 240, 1);
  border: none;
}
h6 {
  padding-top: 10%;
}

.header {
  width: 100%;
  height: 5vh;
}
.header ul {
  list-style-type: none;
  padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 10%;
}
#neWs {
  color: #4c4c66;
  mix-blend-mode: normal;
  /* opacity: 0.9; */
  font-size: 30px;
  padding-bottom: 1%;
}
#aLl {
  font-family: Helvetica Neue;
  font-size: 15px;
  line-height: 16px;
  color: #6f6c99;
  opacity: 0.7;
}

@media screen and (max-width: 1350px) {
  .divs {
    /* margin: 8px; */
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 25%; */
  }
}
@media screen and (max-width: 1024px) {
  .divs {
    /* margin: 8px; */
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: 25%; */
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px),
  (max-width: 375px),
  (max-width: 280px),
  (max-width: 768px) {
  .divs {
    margin: 8px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10%;
  }
  .header {
    width: 100%;

    font-size: 10px;
    text-align: center;
  }
  button {
    font-size: 10px;
  }
  #content {
    font-size: 10px;
  }
  .articles h1 {
    font-size: 15px;
  }
}
