/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #6f6c99;
  border-radius: 10px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  overflow: unset !important;
  background: rgba(254, 240, 240, 1);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  height: 0 !important;
}
ul:focus {
  outline: none;
}

.main-nav ul,
.main-nav ol {
  list-style: none;
  padding-left: 15%;
}
.main-nav a {
  text-decoration: none;
  color: #6f6c99;
  cursor: pointer;
  display: inline-block;
  transition: color 0.2s ease;
}
.main-nav a:hover {
  color: #53b9ea;
}
.main-nav li {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  /* margin-left: -20%; */
}
.main-nav li a {
  font-size: 0.95rem;
}

.bm-item,
.main-nav {
  outline: -webkit-focus-ring-color auto 0px;
}

li.homelink::before {
  content: "";
  background: url(./dashboard-icon.svg) left / contain no-repeat;
  height: 1.5vh;
  width: 1.5%;
  display: inline-block;
  padding-left: 40px;
}
li.stockslink::before {
  content: "";
  background: url(./stock-icon.svg) left / contain no-repeat;
  height: 1.5vh;
  width: 1.5%;
  display: inline-block;
  padding-left: 40px;
}
li.forexlink::before {
  content: "";
  background: url(./forex-icon.svg) left / contain no-repeat;
  height: 1.5vh;
  width: 1.5%;
  display: inline-block;
  padding-left: 40px;
}
li.cryptolink::before {
  content: "";
  background: url(./crypto-icon.svg) left / contain no-repeat;
  height: 1.5vh;
  width: 1.5%;
  display: inline-block;
  padding-left: 40px;
}
li.newslink::before {
  content: "";
  background: url(./news-icon.svg) left / contain no-repeat;
  height: 2vh;
  width: 1.5%;
  display: inline-block;
  padding-left: 40px;
}
.logo {
  width: 100%;
}

@media only screen and (max-width: 1350px) {
  .main-nav ul,
  .main-nav ol {
    padding-left: 0;
  }
  .bm-item-list{
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .sidenav{
    display: none;
  }
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  .main-nav ul,
.main-nav ol {
  list-style: none;
  padding-left: 40px;
}
}

@media only screen and (max-width: 650px) {
  .bm-burger-button{
    left: 14px;
    top: 14px;
  }
}









/* ///////// */
/* Responsive____________________ */
/* //////// */
/* @media only screen and (max-width: 1220px) {
  .logo {
    margin-left: -30%;
    margin-top: 20%;
    height: 6vh;
    width: 300px;
    transform: rotate(-90deg);
  }
  .main-nav li {
    transform: rotate(-90deg);
    margin-bottom: 90px;
    margin-top: 70px;
  }
}
@media only screen and (max-width: 850px) {
  .logo {
    margin-left: -40%;
    margin-top: 20%;
    height: 5vh;
    width: 300px;
  }
}
@media only screen and (max-width: 560px) {
  .logo {
    margin-left: -45%;
  }
}
@media only screen and (max-width: 450px) {
  .bm-menu-wrap {
    width: 30% !important;
    min-height: 150vh !important;
    overflow-x: hidden;
  }
  .bm-menu {
    min-height: 100vh !important;
    overflow-x: hidden;
  }
  .logo {
    margin-top: 10%;
    height: 6vh;
    width: 600px;
  }
}
@media only screen and (max-width: 375px) {
  .bm-menu {
    min-height: 150vh !important;
    overflow-x: hidden;
  }
  .logo {
    margin-top: 10%;
    height: 6vh;
    width: 600px;
  }
} */
