* {
    box-sizing: border-box;
  }
  div.TickerInput{
      color: #444444;
      height: 100vh;
      margin-left: 20%;
  }
 .autocomplete-wrapper input {
    border: 1px solid transparent;
    border-radius:6px;
    padding: 12px 15px;
    font-size: 14px;
    width: 100%;
    background: #FEF8F8;
  }
  
  .autocomplete-wrapper input:focus {
    border-color: #006699;
    box-shadow: none;
    outline: none;
  }
  
  .autocomplete-wrapper .dropdown {
    width: 100%;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #006699;
    border-top: none;
  }
  
  .autocomplete-wrapper .item  {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
  }
  
  .autocomplete-wrapper .item.selected-item {
    background-color: #006699;
    color: #FAFBFC;
  }
  
  .autocomplete-wrapper .item:hover {
    background-color: #006699;
    color: #FAFBFC;
  } 

h2.headline{
    margin: 30px 0 0 0;
    font-size: 2rem;
}
.stocks-header{
    display: flex;
    justify-content: space-between;
    padding:0 3%;

}
div.autocomplete-wrapper > div {
    width: 350px;
}

img.search-icon{
display: inline-block;
margin-left: 12px;
width: 36px;
}
div.autocomplete-wrapper{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
main.stocks-main{
    padding: 0 3%;
}
p.byline{
    color: #666666;
}

div.graph {
    text-align: center;
}

.stocks-displayed-firm{
  margin-bottom:0;
}
.TickerInput .autocomplete-wrapper{
  padding-right: 48px;
  position: relative;
}
.TickerInput img.search-icon{
  position: absolute;
  right: 0;
  top: 15px;
}


@media only screen and (max-width: 1357px) {
  div.TickerInput{
    margin-left: 18%;
  }
}
@media only screen and (max-width: 1072px) {
  div.TickerInput{
    margin-left: 6%;
  }
  .stocks-header{
    display: block;
    padding-top: 30px;
}
.stocks-header .byline{
  text-align: left;
  padding-top: 12px;
}
.TickerInput img.search-icon{
    top: 3px;
  }
 div.TickerInput > header > div.autocomplete-wrapper{
    margin-top: 0 !important;
    width: 100% !important;
  }
 div.TickerInput div.autocomplete-wrapper > div{
   width: 100%;
 }
 div.TickerInput input{
   margin-bottom: 16px;
   width: 100%;
 }
}





